.navbar {
  display: none;
}

.navbarButton {
  background-color: transparent;
  border-radius: 10px;
  color: var(--text-tertiary);
  display: flex;
  flex-direction: column;
  font-size: 10px;
  transition: all 0.3s ease-out;
  width: 100%;
}

.sidebar {
  background-color: var(--background-sidebar);
  color: white;
  display: flex;
  flex-direction: column;
  height: 100%;
  min-width: 90px;
  overflow: hidden;
  transition: width 0.25s ease;
  width: 300px;
}

.sidebarCollapsed {
  background-color: var(--background-sidebar);
  color: white;
  display: flex;
  flex-direction: column;
  height: 100%;
  transition: width 0.25s ease;
  width: 90px;
}

.sidebarButton {
  background-color: transparent;
  border-radius: 10px;
  color: white;
  font-size: 14px;
  padding: 0.5rem 0.5rem;
  transition: all 0.3s ease-out;
  white-space: nowrap;
  width: 100%;
}

.sidebarButton:hover {
  background-color: rgba(0, 0, 0, 0.05);
  color: var(--secondary);
}

.sidebarButtonActive {
  background-color: transparent;
  border-radius: 10px;
  color: var(--secondary);
  cursor: inherit;
  font-size: 14px;
  opacity: 1;
  padding: 0.5rem 0.5rem;
  transition: all 0.3s ease-out;
  width: 100%;
}

.sidebarButtonActiveLink {
  color: var(--secondary);
  cursor: inherit;
  opacity: 1;
}

.sidebarContent {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1rem;
}

.sidebarProfileWrapper {
  align-items: center;
  display: flex;
  flex-direction: row;
  width: 100%;
}

.sidebarProfileWrapperCollapsed {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.sidebarTop {
  display: flex;
  flex-direction: column;
  padding: 1.5rem 1rem;
}

.sidebarTopCollapsed {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 1.5rem 1rem;
}

@media only screen and (max-width: 768px) {
  .navbar {
    background-color: var(--background-sidebar);
    border-top: 1px solid var(--border-color);
    bottom: 0px;
    display: flex;
    left: 0px;
    padding: 0.5rem 1rem;
    position: fixed;
    width: 100vw;
    z-index: 999;
  }

  .sidebar,
  .sidebarCollapsed {
    display: none;
  }
}
